.ctl-card, .value-cardDeck{

    margin-bottom: 30px;
}

.heist-values{
    padding-left: 50px;
}

.heist-title{

    margin-left: 40px;
}

.title-payout{

    margin-top: 15px
}

.heist-setName {
    
    min-width: 40%;
    margin: 40px;
}

.heist-payout{
    min-width: 100%;
    margin-left: 1px;
    padding-right: 7px !important; 

}

.crew-PayOut{
    margin: 10px
}
.heist-control{

    padding-right: 40px;
}
.hidden{

    display: none;
} 

.row{
    /* wired horizontel scoll bar fix*/
    margin-right: 0px;
}